div#field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #ffdede;
    border-radius: 10px;
    cursor: pointer;
}

div.open {
    background-color: #8792c0;
}

h1 {
    text-align: center;
}

div.card p {
    visibility: hidden;
    user-select: none;
    text-align: center;
}

.open p {
    visibility: visible !important;
}

.correct {
    background-color: #ff5757 !important;
}

.correct p {
    visibility: visible !important;
}

#setting {
    margin: 0 auto;
    width: 90vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

table {
    width: 80vw;
    height: max-content;
    margin: 0 auto;
}

button {
    width: 70vw;
    height: 50px;
}

#nowPlayerName {
    width: 100%;
    text-align: center;
}

#playerData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#playerData p {
    margin: 0 10px;
}

a {
    text-align: center;
    width: 100%;
}